<div>
  <label>name:
    <input [(ngModel)]="heroes.name" placeholder="heroes's Name">
  </label>
</div>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>


<h1>{{selectedHero.name | uppercase}}'s Details</h1>
<div><span>id: {{selectedHero.id}}</span></div>
<div><span>name: {{selectedHero.name}}</span></div>
<div><span>The selected Hero's birthday is {{ selectedHero.birthday | date:format }}</span></div>
<button (click)="toggleFormat()">Toggle Format</button>
